.services_wrap{
  padding-left: 40px;
  padding-right: 40px;
  max-width: 1920px;
  margin: 0 auto;
  @include breakpoint(sm-down){
    padding-left: 15px;
    padding-right: 15px;
  }
  .services_inner{
    @include flexbox;
    @include flex-wrap(wrap);
    @include justify-content(center);
    margin: 0 -10px -20px;
    @include breakpoint(xs){
      margin: 0 0px -20px;

    }
  }
  .service_card{
    @include flexbox;
    @include align-items(center);
    &:nth-child(2n+1){
      @include justify-content(flex-end);
       @media (max-width: 1600px) {
      margin-right: auto;
    }
      @include breakpoint(xs){
        @include justify-content(flex-start)
      }
    }
    &:nth-child(2n){
      @include justify-content(flex-start);
       @media (max-width: 1600px) {
      margin-left: auto;
    }
      @include breakpoint(xs){
        @include justify-content(flex-start)
      }
    }
    width: calc(50% - 20px);
    height: 390px;
    margin: 0 10px 20px;
    padding: 0 6.5%;
    position: relative;
    transition: .4s;
    @media (max-width: 1600px) {
      width: 80%;
    }
    @include breakpoint(xs){
      width: 100%;
      margin: 0 0 15px 0;
    }
    @include breakpoint(smxs){
      height: 300px;
    }
    @include breakpoint(sxs){
      height: 270px;
    }

    &:hover{
      &:after{
        backdrop-filter: grayscale(1);
        opacity: .7;
      }
      .card_title{
        color: $color-1;
      }
      .bg{
        filter: grayscale(100%);
      }
    }
    .bg{
      transition: 0.4s;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      display: block;
    }
    &:after{
      transition: inherit;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #141414;
      opacity: .6;
      z-index: 1;
    }
  }
  .card_inner{
    width: 86.5%;
    position: relative;
    z-index: 2;
    @include flexbox;
    @include flex-direction(column);
    @include breakpoint(xs){
      width: 100%;
    }
  }
  .card_title{
    transition: 0.4s;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 10px;
    color:#ffffff;
    line-height: 1.4;
    @include breakpoint(xs){
      font-size: 20px;
    }
  }
  .card_subtitle{
    font-size: 20px;
    color:#ffffff;
    line-height: 1.4;
    @include breakpoint(xs){
      font-size: 16px;
    }
  }
}

.services{
  p{
    color: #ffffff;
  }
  .services_title-block{
    background-image: url("/images/fon/main_page.jpg");
    padding-top: 150px;
    padding-bottom: 240px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(xs){
      padding-top: 120px;
      padding-bottom: 190px;
    }
    &:after {
      background-color: #222222;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0.75;
    }
    &:before {
      background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, #141414 72.84%);
      position: absolute;
      content: "";
      width: 100%;
      height: 80%;
      bottom: 0;
      left: 0;
      z-index: 2;
      opacity: 0.75;
    }
    &>div{
      position: relative;
      z-index: 4;
    }
  }
  .title{
    color: #ffffff;
  }

  .services_wrap{
    margin-top: -170px;
    position: relative;
    z-index: 5;
    padding-bottom: 130px;
    @include breakpoint(xs){
      padding-bottom: 50px;
    }
  }
}


.service{
  padding-bottom: 115px;
  .service_title-block{
    background-image: url("/images/fon/main_page.jpg");
    padding-top: 150px;
    padding-bottom: 40px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    @include breakpoint(xs){
      padding-top: 120px;
      padding-bottom: 30px;
    }
    &:after {
      background-color: #222222;
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      z-index: 1;
      opacity: 0.75;
    }
    &:before {
      background: linear-gradient(180deg, rgba(20, 20, 20, 0) 0%, #141414 72.84%);
      position: absolute;
      content: "";
      width: 100%;
      height: 90%;
      bottom: 0;
      left: 0;
      z-index: 2;
      opacity: 0.75;
    }
    &>div{
      position: relative;
      z-index: 4;
    }
  }
  .title{
    margin-bottom: 10px;
    color: #ffffff;
  }
  .subtitle{
    font-size: 24px;
    line-height: 140%;
    color: #FFFFFF;
    width: 40%;
    @include breakpoint(sm-down){
      width: initial;
      font-size: 18px;
    }
  }
  .info{
    padding-top: 50px;
    @include breakpoint(xs){
      padding-top: 30px;
    }
  }
  .info_block{
    @include flexbox;
    @media (max-width:1550px) {
      margin-bottom: 20px;
    }
    @include breakpoint(md-down){
      @include flex-direction(column);
    }
  }
  .info_text{
    width: 50%;
    margin: 0px 25px 0 10px;
    @include breakpoint(md-down){
      width: 100%;
      margin: 0 auto;
      order: 2;
      text-align: center;
    }
    p{
      font-size: 18px;
      color: rgba(22,22,22,0.75);
    }
  }
  .info_img{
    position: relative;
    z-index: 6;
    margin: -230px -170px 0 25px;
    height: 790px;
    width: 830px;
    background-color: #1da1f2;
    @media (max-width: 1800px) {
      margin: 0px 0px 0 25px;
      width: 50%;
      height: 590px;
    }
    @include breakpoint(md-down){
      width: 70%;
      margin: 0 auto 25px;
      order: 1;
    }
    @include breakpoint(sm-down){
      width: 85%;
      height: 540px;
    }
    @include breakpoint(xs){
      width: 100%;
      height: 450px;
    }
    @include breakpoint(sxs){
      height: 300px;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .button{
    &:hover{
     span{ color: #222222;}
    }
  }

  .values_wrap{
    &.container{
     @media (min-width:1550px) {
       width: 1540px;
     }
    }

    margin-top: -120px;
    padding: 65px;
    background-color: #f6f6f6;
    border-bottom: 10px solid $color-1;
    @media (max-width:1550px) {
      margin-top: 0;
    }
    @include breakpoint(xs){
      padding: 20px;
    }
    .values_inner{
      position: relative;
      z-index: 2;
    }
    .title{
      color: #222222;
      width: 50%;
      margin-bottom: 40px;
      @media (max-width: 1600px){
        width: 100%;
      }
      @include breakpoint(xs){
        text-align: center;
      }
    }
    .values_row{
      @include flexbox;
      @include flex-wrap(wrap);
      margin: 0 -10px;
      @include breakpoint(xs){
        margin: 0;
      }
    }
    .values_block{
      width: calc(25% - 20px);
      margin: 0 10px;
      @media (max-width:1400px){
        width: calc(50% - 20px);
        margin-bottom: 15px;
      }
      @include breakpoint(xs){
        width: 100%;
        margin: 0 0 15px 0;
        text-align: center;
      }
    }
    .values_img{
      display: block;
      width: 80px;
      height: 80px;
      object-fit: contain;
      @include breakpoint(xs){
        margin: 0 auto;
      }
    }
    .values_title{
      font-weight: 600;
      font-size: 24px;
      line-height: 29/24;
      color: #222222;
      margin-bottom: 15px;
      @include breakpoint(xs){
        font-size: 20px;
      }
    }
    .values_text{
      color: #222222;
      line-height: 1.5;
    }
  }
}
