.text_page{
  .header{
    background-color: #222222;
  }
  .text_page_title-block{
    padding-top: 120px;
    background-color: #222222;
    padding-bottom: 15px;
    margin-bottom: 30px;
    .title{
      color: #ffffff;
    }
  }
}